In [11]:
import pandas as pd

# Loading dataset
df = pd.read_csv("anime-dataset-2023.csv")

print(df.head())

print(df.info())

print(df.describe())

   anime_id                             Name             English name  \
0         1                     Cowboy Bebop             Cowboy Bebop
1         5  Cowboy Bebop: Tengoku no Tobira  Cowboy Bebop: The Movie
2         6                           Trigun                   Trigun
3         7               Witch Hunter Robin       Witch Hunter Robin
4         8                   Bouken Ou Beet   Beet the Vandel Buster

                         Other name Score  \
0                         カウボーイビバップ  8.75
1                    カウボーイビバップ 天国の扉  8.38
2                             トライガン  8.22
3  Witch Hunter ROBIN (ウイッチハンターロビン)  7.25
4                            冒険王ビィト  6.94

                                 Genres  \
0         Action, Award Winning, Sci-Fi
1                        Action, Sci-Fi
2             Action, Adventure, Sci-Fi
3  Action, Drama, Mystery, Supernatural
4      Adventure, Fantasy, Supernatural

                                            Synopsis   Type Episodes  \
0  Crime is timeless. By the year 2071, humanity ...     TV     26.0
1  Another day, another bounty—such is the life o...  Movie      1.0
2  Vash the Stampede is the man with a $$60,000,0...     TV     26.0
3  Robin Sena is a powerful craft user drafted in...     TV     26.0
4  It is the dark century and the people are suff...     TV     52.0

                          Aired  ...         Studios    Source       Duration  \
0   Apr 3, 1998 to Apr 24, 1999  ...         Sunrise  Original  24 min per ep
1                   Sep 1, 2001  ...           Bones  Original    1 hr 55 min
2   Apr 1, 1998 to Sep 30, 1998  ...        Madhouse     Manga  24 min per ep
3   Jul 3, 2002 to Dec 25, 2002  ...         Sunrise  Original  25 min per ep
4  Sep 30, 2004 to Sep 29, 2005  ...  Toei Animation     Manga  23 min per ep

                           Rating    Rank Popularity Favorites Scored By  \
0  R - 17+ (violence & profanity)    41.0         43     78525  914193.0
1  R - 17+ (violence & profanity)   189.0        602      1448  206248.0
2       PG-13 - Teens 13 or older   328.0        246     15035  356739.0
3       PG-13 - Teens 13 or older  2764.0       1795       613   42829.0
4                   PG - Children  4240.0       5126        14    6413.0

   Members                                          Image URL
0  1771505  https://cdn.myanimelist.net/images/anime/4/196...
1   360978  https://cdn.myanimelist.net/images/anime/1439/...
2   727252  https://cdn.myanimelist.net/images/anime/7/203...
3   111931  https://cdn.myanimelist.net/images/anime/10/19...
4    15001  https://cdn.myanimelist.net/images/anime/7/215...

[5 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24905 entries, 0 to 24904
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      24905 non-null  int64
 1   Name          24905 non-null  object
 2   English name  24905 non-null  object
 3   Other name    24905 non-null  object
 4   Score         24905 non-null  object
 5   Genres        24905 non-null  object
 6   Synopsis      24905 non-null  object
 7   Type          24905 non-null  object
 8   Episodes      24905 non-null  object
 9   Aired         24905 non-null  object
 10  Premiered     24905 non-null  object
 11  Status        24905 non-null  object
 12  Producers     24905 non-null  object
 13  Licensors     24905 non-null  object
 14  Studios       24905 non-null  object
 15  Source        24905 non-null  object
 16  Duration      24905 non-null  object
 17  Rating        24905 non-null  object
 18  Rank          24905 non-null  object
 19  Popularity    24905 non-null  int64
 20  Favorites     24905 non-null  int64
 21  Scored By     24905 non-null  object
 22  Members       24905 non-null  int64
 23  Image URL     24905 non-null  object
dtypes: int64(4), object(20)
memory usage: 4.6+ MB
None
           anime_id    Popularity      Favorites       Members
count  24905.000000  24905.000000   24905.000000  2.490500e+04
mean   29776.709014  12265.388356     432.595222  3.710496e+04
std    17976.076290   7187.428393    4353.181647  1.568252e+05
min        1.000000      0.000000       0.000000  0.000000e+00
25%    10507.000000   6040.000000       0.000000  2.090000e+02
50%    34628.000000  12265.000000       1.000000  1.056000e+03
75%    45240.000000  18491.000000      18.000000  9.326000e+03
max    55735.000000  24723.000000  217606.000000  3.744541e+06

In [12]:
# missing values
print(df.isnull().sum())

anime_id        0
Name            0
English name    0
Other name      0
Score           0
Genres          0
Synopsis        0
Type            0
Episodes        0
Aired           0
Premiered       0
Status          0
Producers       0
Licensors       0
Studios         0
Source          0
Duration        0
Rating          0
Rank            0
Popularity      0
Favorites       0
Scored By       0
Members         0
Image URL       0
dtype: int64

In [13]:
# Data cleaning
df['Score'] = pd.to_numeric(df['Score'], errors='coerce')
df['Episodes'] = pd.to_numeric(df['Episodes'], errors='coerce')
df['Rank'] = pd.to_numeric(df['Rank'], errors='coerce')
df['Scored By'] = pd.to_numeric(df['Scored By'], errors='coerce')

df['Genres'] = df['Genres'].astype(str).str.strip().str.lower()

df['Aired'] = pd.to_datetime(df['Aired'], errors='coerce')

print(df.dtypes)

/tmp/ipython-input-1353019218.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Aired'] = pd.to_datetime(df['Aired'], errors='coerce')

anime_id                 int64
Name                    object
English name            object
Other name              object
Score                  float64
Genres                  object
Synopsis                object
Type                    object
Episodes               float64
Aired           datetime64[ns]
Premiered               object
Status                  object
Producers               object
Licensors               object
Studios                 object
Source                  object
Duration                object
Rating                  object
Rank                   float64
Popularity               int64
Favorites                int64
Scored By              float64
Members                  int64
Image URL               object
dtype: object

In [14]:
df['Aired_From'] = split_cols[0]

# Only assign Aired_To if second column exists
if split_cols.shape[1] > 1:
    df['Aired_To'] = split_cols[1]
else:
    df['Aired_To'] = None

# Convert both to datetime
df['Aired_From'] = pd.to_datetime(df['Aired_From'], errors='coerce')
df['Aired_To'] = pd.to_datetime(df['Aired_To'], errors='coerce')

# Extract Release Year
df['Release_Year'] = df['Aired_From'].dt.year

# Check the result
print(df[['Aired', 'Aired_From', 'Aired_To', 'Release_Year']].head(10))

       Aired Aired_From Aired_To  Release_Year
0        NaT        NaT      NaT           NaN
1 2001-09-01 2001-09-01      NaT        2001.0
2        NaT        NaT      NaT           NaN
3        NaT        NaT      NaT           NaN
4        NaT        NaT      NaT           NaN
5        NaT        NaT      NaT           NaN
6        NaT        NaT      NaT           NaN
7        NaT        NaT      NaT           NaN
8        NaT        NaT      NaT           NaN
9        NaT        NaT      NaT           NaN

In [15]:
# animes have multiple genres so I am sorting the main anime genre
# Split genres into a list
df['Genre_List'] = df['Genres'].apply(lambda x: [g.strip() for g in x.split(',')])

# Extract the main  genre for simple analysis
df['Main_Genre'] = df['Genre_List'].apply(lambda x: x[0] if len(x) > 0 else None)

print(df[['Name', 'Genres', 'Main_Genre']].head())

                              Name                                Genres  \
0                     Cowboy Bebop         action, award winning, sci-fi
1  Cowboy Bebop: Tengoku no Tobira                        action, sci-fi
2                           Trigun             action, adventure, sci-fi
3               Witch Hunter Robin  action, drama, mystery, supernatural
4                   Bouken Ou Beet      adventure, fantasy, supernatural

  Main_Genre
0     action
1     action
2     action
3     action
4  adventure

In [16]:
#here i'm going to remove duplicates and invalid values
df = df.drop_duplicates(subset=['Name'])
df = df[(df['Score'] > 0) & (df['Episodes'] > 0)]
df = df.reset_index(drop=True)

print("✅ After cleaning:")
print(df.shape)

✅ After cleaning:
(15604, 29)

In [17]:
# Info summary
print(df.info())

print(df.head())

# Quick descriptive statistics
print(df[['Score', 'Episodes', 'Rank', 'Members']].describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15604 entries, 0 to 15603
Data columns (total 29 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   anime_id      15604 non-null  int64
 1   Name          15604 non-null  object
 2   English name  15604 non-null  object
 3   Other name    15604 non-null  object
 4   Score         15604 non-null  float64
 5   Genres        15604 non-null  object
 6   Synopsis      15604 non-null  object
 7   Type          15604 non-null  object
 8   Episodes      15604 non-null  float64
 9   Aired         7761 non-null   datetime64[ns]
 10  Premiered     15604 non-null  object
 11  Status        15604 non-null  object
 12  Producers     15604 non-null  object
 13  Licensors     15604 non-null  object
 14  Studios       15604 non-null  object
 15  Source        15604 non-null  object
 16  Duration      15604 non-null  object
 17  Rating        15604 non-null  object
 18  Rank          12650 non-null  float64
 19  Popularity    15604 non-null  int64
 20  Favorites     15604 non-null  int64
 21  Scored By     15604 non-null  float64
 22  Members       15604 non-null  int64
 23  Image URL     15604 non-null  object
 24  Aired_From    7761 non-null   datetime64[ns]
 25  Aired_To      0 non-null      datetime64[ns]
 26  Release_Year  7761 non-null   float64
 27  Genre_List    15604 non-null  object
 28  Main_Genre    15604 non-null  object
dtypes: datetime64[ns](3), float64(5), int64(4), object(17)
memory usage: 3.5+ MB
None
   anime_id                             Name             English name  \
0         1                     Cowboy Bebop             Cowboy Bebop
1         5  Cowboy Bebop: Tengoku no Tobira  Cowboy Bebop: The Movie
2         6                           Trigun                   Trigun
3         7               Witch Hunter Robin       Witch Hunter Robin
4         8                   Bouken Ou Beet   Beet the Vandel Buster

                         Other name  Score  \
0                         カウボーイビバップ   8.75
1                    カウボーイビバップ 天国の扉   8.38
2                             トライガン   8.22
3  Witch Hunter ROBIN (ウイッチハンターロビン)   7.25
4                            冒険王ビィト   6.94

                                 Genres  \
0         action, award winning, sci-fi
1                        action, sci-fi
2             action, adventure, sci-fi
3  action, drama, mystery, supernatural
4      adventure, fantasy, supernatural

                                            Synopsis   Type  Episodes  \
0  Crime is timeless. By the year 2071, humanity ...     TV      26.0
1  Another day, another bounty—such is the life o...  Movie       1.0
2  Vash the Stampede is the man with a $$60,000,0...     TV      26.0
3  Robin Sena is a powerful craft user drafted in...     TV      26.0
4  It is the dark century and the people are suff...     TV      52.0

       Aired  ... Popularity Favorites Scored By  Members  \
0        NaT  ...         43     78525  914193.0  1771505
1 2001-09-01  ...        602      1448  206248.0   360978
2        NaT  ...        246     15035  356739.0   727252
3        NaT  ...       1795       613   42829.0   111931
4        NaT  ...       5126        14    6413.0    15001

                                           Image URL Aired_From Aired_To  \
0  https://cdn.myanimelist.net/images/anime/4/196...        NaT      NaT
1  https://cdn.myanimelist.net/images/anime/1439/... 2001-09-01      NaT
2  https://cdn.myanimelist.net/images/anime/7/203...        NaT      NaT
3  https://cdn.myanimelist.net/images/anime/10/19...        NaT      NaT
4  https://cdn.myanimelist.net/images/anime/7/215...        NaT      NaT

  Release_Year                              Genre_List  Main_Genre
0          NaN         [action, award winning, sci-fi]      action
1       2001.0                        [action, sci-fi]      action
2          NaN             [action, adventure, sci-fi]      action
3          NaN  [action, drama, mystery, supernatural]      action
4          NaN      [adventure, fantasy, supernatural]   adventure

[5 rows x 29 columns]
              Score      Episodes          Rank       Members
count  15604.000000  15604.000000  12650.000000  1.560400e+04
mean       6.379708     11.309728   6354.080632  5.841298e+04
std        0.929497     48.319844   3667.396451  1.941210e+05
min        1.850000      1.000000      1.000000  1.800000e+02
25%        5.730000      1.000000   3177.500000  1.165750e+03
50%        6.385000      2.000000   6355.500000  4.935500e+03
75%        7.060000     12.000000   9530.000000  2.712700e+04
max        9.100000   3057.000000  12701.000000  3.744541e+06

In [18]:
# Export to CSV
df.to_csv("cleaned_anime.csv", index=False)

print("✅ Cleaned data successfully saved to cleaned_anime.csv")

✅ Cleaned data successfully saved to cleaned_anime.csv